@{
    ViewData["Title"] = "Character - Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model  IList<RPG.Models.Item>
<div class="jumbotron container">
    <h1>@Html.DisplayFor(model => model[0].Character.Name)'s Inventory:</h1>
</div>
<div class="container">
    @foreach (var item in Model)
    {
        <div class="items">
            <h1>@Html.DisplayFor(i => item.ItemName)</h1>
            <h2>@Html.DisplayFor(i => item.Description)</h2>
            <img src="@Html.DisplayFor(i => item.Image)">
        </div>
    }
</div>
<p>@Html.ActionLink("New Item", "Create", new { id = Model[0].CharacterId })</p>